@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Josefin Slab', serif;
}

body {
	background-image: url('./assets/images/background.jpeg');
	background-size: cover;
	background-color: #b4befe;
}
