@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Josefin Slab', serif;
}

body {
	background-image: url('./assets/images/background.jpeg');
	background-size: cover;
	background-position: bottom;
	background-color: #b4befe;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body::-webkit-scrollbar {
	display: none;
}
